<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Your Poll - You can create your poll from here</title>
    <link rel="shortcut icon" href="./images/fav.png" type="image/png" />
    <!-- Tailwind CSS Connection Library -->
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-blue-100">

<header class="bg-blue-500 mb-4">
      <div class="container mx-auto">
      <!-- Header Section -->
            <nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6 ">
          <div class="flex items-center flex-shrink-0 text-white mr-6">
            
            <a href="/" class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
          width="64" height="64"
          viewBox="0 0 172 172"
          style=" fill:#000000;"><defs><linearGradient x1="86" y1="12.76563" x2="86" y2="159.9815" gradientUnits="userSpaceOnUse" id="color-1_48215_gr1"><stop offset="0" stop-color="#ffffff"></stop><stop offset="1" stop-color="#ffffff"></stop></linearGradient><linearGradient x1="66.51563" y1="12.76563" x2="66.51563" y2="159.9815" gradientUnits="userSpaceOnUse" id="color-2_48215_gr2"><stop offset="0" stop-color="#ffffff"></stop><stop offset="1" stop-color="#ffffff"></stop></linearGradient><linearGradient x1="107.5" y1="12.76563" x2="107.5" y2="159.9815" gradientUnits="userSpaceOnUse" id="color-3_48215_gr3"><stop offset="0" stop-color="#ffffff"></stop><stop offset="1" stop-color="#ffffff"></stop></linearGradient><linearGradient x1="107.5" y1="12.76563" x2="107.5" y2="159.9815" gradientUnits="userSpaceOnUse" id="color-4_48215_gr4"><stop offset="0" stop-color="#ffffff"></stop><stop offset="1" stop-color="#ffffff"></stop></linearGradient><linearGradient x1="66.51563" y1="12.76563" x2="66.51563" y2="159.9815" gradientUnits="userSpaceOnUse" id="color-5_48215_gr5"><stop offset="0" stop-color="#ffffff"></stop><stop offset="1" stop-color="#ffffff"></stop></linearGradient><linearGradient x1="107.5" y1="12.76563" x2="107.5" y2="159.9815" gradientUnits="userSpaceOnUse" id="color-6_48215_gr6"><stop offset="0" stop-color="#ffffff"></stop><stop offset="1" stop-color="#ffffff"></stop></linearGradient><linearGradient x1="107.5" y1="12.76563" x2="107.5" y2="159.9815" gradientUnits="userSpaceOnUse" id="color-7_48215_gr7"><stop offset="0" stop-color="#ffffff"></stop><stop offset="1" stop-color="#ffffff"></stop></linearGradient><linearGradient x1="123.625" y1="133.70313" x2="123.625" y2="146.96325" gradientUnits="userSpaceOnUse" id="color-8_48215_gr8"><stop offset="0" stop-color="#ffffff"></stop><stop offset="1" stop-color="#ffffff"></stop></linearGradient></defs><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M131.6875,16.125h-91.375c-4.44512,0 -8.0625,3.61738 -8.0625,8.0625v10.75v8.0625v104.8125c0,4.44513 3.61469,8.0625 8.0625,8.0625h91.375c4.44512,0 8.0625,-3.61738 8.0625,-8.0625v-104.8125v-8.0625v-10.75c0,-4.44513 -3.61737,-8.0625 -8.0625,-8.0625zM40.3125,21.5h91.375c1.4835,0 2.6875,1.204 2.6875,2.6875v3.182c0,-0.301 -1.7415,-0.4945 -2.6875,-0.4945h-91.375c-0.946,0 -2.6875,0.1935 -2.6875,0.4945v-3.182c0,-1.4835 1.204,-2.6875 2.6875,-2.6875zM131.6875,150.5h-18.8125v-18.8125c0,-1.4835 1.204,-2.6875 2.6875,-2.6875h18.8125v18.8125c0,1.4835 -1.20669,2.6875 -2.6875,2.6875zM134.375,123.625h-18.8125c-4.44512,0 -8.0625,3.61738 -8.0625,8.0625v18.8125h-67.1875c-1.4835,0 -2.6875,-1.204 -2.6875,-2.6875v-104.8125v-8.0625c0,-1.4835 1.204,-2.6875 2.6875,-2.6875h91.375c1.4835,0 2.6875,1.204 2.6875,2.6875v8.0625z" fill="url(#color-1_48215_gr1)"></path><path d="M61.81519,63.39006l-8.85262,-8.85263l-3.80013,3.80012l8.85263,8.85263c1.04544,1.04812 2.41875,1.5695 3.79475,1.5695c1.376,0 2.752,-0.52137 3.80012,-1.5695l18.25888,-18.25888l-3.80012,-3.80013z" fill="url(#color-2_48215_gr2)"></path><path d="M91.375,48.375h32.25v5.375h-32.25z" fill="url(#color-3_48215_gr3)"></path><path d="M91.375,59.125h32.25v5.375h-32.25z" fill="url(#color-4_48215_gr4)"></path><path d="M61.81519,106.39006l-8.85262,-8.85263l-3.80013,3.80013l8.85263,8.85262c1.04544,1.04813 2.41875,1.5695 3.79475,1.5695c1.376,0 2.752,-0.52138 3.80012,-1.5695l18.25888,-18.25887l-3.80012,-3.80013z" fill="url(#color-5_48215_gr5)"></path><path d="M91.375,91.375h32.25v5.375h-32.25z" fill="url(#color-6_48215_gr6)"></path><path d="M91.375,102.125h32.25v5.375h-32.25z" fill="url(#color-7_48215_gr7)"></path><path d="M129,142.4375c0,1.4835 -1.204,2.6875 -2.6875,2.6875h-5.375c-1.4835,0 -2.6875,-1.204 -2.6875,-2.6875v-5.375c0,-1.4835 1.204,-2.6875 2.6875,-2.6875h5.375c1.4835,0 2.6875,1.204 2.6875,2.6875z" fill="url(#color-8_48215_gr8)"></path></g></g></svg>


            <span class="font-semibold text-xl tracking-tight">Poll Application</span>
            </a>
          
          </div>
          <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
              <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
          </div>
         
            <div>
              <!-- <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a> -->
               <a href="/create" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-gray-100 mr-4 uppercase ">
                Create New Poll
              </a>
              <a href="/polls" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-gray-100 uppercase ">
                All Polls
              </a>
            </div>
          </div>
        </nav>
            <!-- Header Section -->
    </div>
    </header>

    <div class="flex items-center main">
      <div class="container mx-auto px-2 md:py-0">
        <div
          class="
            form-container
            py-10
            px-2
            md:py-12 md:px-20
            bordered
            shadow-lg
            rounded-3xl
            ring-1 ring-gray-300
            bg-white
          "
        >
          <h1
            class="
              text-center text-3xl
              md:text-6xl
              font-bold
              uppercase
              pb-2
              md:pb-4
            "
          >
            Create Your <span class="text-blue-500">Poll</span>
          </h1>

          <div class="form p-4">
            <form action="/create" method="POST">
              <input
                type="text"
                id="title"
                name="title"
                placeholder="Enter your title"
                class="
                  w-full
                  shadow
                  p-3
                  md:p-5
                  rounded-md
                  ring-1 ring-gray-200
                  focus:border-blue-500
                  focus:outline-none
                  focus:ring-2
                  focus:ring-blue-300
                  text-md
                  md:text-xl
                  my-2
                  md:my-4
                "
              />

              <textarea
                name="description"
                id="description"
                class="
                  w-full
                  shadow
                  p-3
                  md:p-5
                  rounded-md
                  ring-1 ring-gray-200
                  focus:border-blue-500
                  focus:outline-none
                  focus:ring-2
                  focus:ring-blue-300
                  text-md
                  md:text-xl
                  my-2
                  md:my-4
                "
                placeholder="Enter your description"
              ></textarea>

              <div id="options" class="my-2 md:my-4">
                <p class="text-xl capitalize text-gray-500 mb-2">
                  Choose Your Options
                </p>
                <input
                  type="text"
                  name="options"
                  class="
                    w-full
                    shadow
                    p-3
                    md:p-5
                    rounded-md
                    ring-1 ring-gray-200
                    focus:border-blue-500
                    focus:outline-none
                    focus:ring-2
                    focus:ring-blue-300
                    text-md
                    md:text-xl
                    my-2
                    md:my-4
                  "
                  placeholder="Option 1"
                />
                <input
                  type="text"
                  name="options"
                  class="
                    w-full
                    shadow
                    p-3
                    md:p-5
                    rounded-md
                    ring-1 ring-gray-200
                    focus:border-blue-500
                    focus:outline-none
                    focus:ring-2
                    focus:ring-blue-300
                    text-md
                    md:text-xl
                    my-2
                    md:my-4
                  "
                  placeholder="Option 2"
                />
              </div>
              <button
                class="
                  py-3
                  px-5
                  md:py-5 md:px-8
                  bg-blue-600
                  rounded-2xl
                  text-white
                  uppercase
                  w-full
                  md:w-1/4
                  block
                  shadow
                  hover:bg-blue-800
                "
                id="addOption"
              >
                Add Option
              </button>

              <input
                type="submit"
                value="Create Poll"
                class="
                  mx-auto
                  my-2
                  md:my-5
                  w-full
                  py-5
                  px-8
                  bg-blue-600
                  rounded-2xl
                  text-white
                  uppercase
                  shadow
                  hover:bg-blue-800
                  cursor-pointer
                "
              />
            </form>
          </div>
        </div>
        <footer class="py-8">
           <p class="text-center text-md md:text-xl">Designed & Development By <a href="http://hridayshaha.com">Hridoy Saha</a></p>
        </footer>
      </div>
    </div>

    <script>
      const options = document.getElementById("options");
      const addOption = document.getElementById("addOption");
      let optionNumber = 3;

      addOption.addEventListener("click", (e) => {
        e.preventDefault();
        let newOption = optionCreate();

        options.appendChild(newOption);
      });

      function optionCreate() {
        const input = document.createElement("input");
        input.type = "text";
        input.name = "options";
        const classArray = [
          "w-full",
          "shadow",
          "p-3",
          "md:p-5",
          "rounded-md",
          "ring-1",
          "ring-gray-200",
          "focus:border-blue-500",
          "focus:outline-none",
          "focus:ring-2",
          "focus:ring-blue-300",
          "text-md",
          "md:text-xl",
          "my-2",
          "md:my-4",
        ];
        input.classList.add(...classArray);

        input.placeholder = "Option " + optionNumber++;

        return input;
      }
    </script>
  </body>
</html>
