<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Your Poll - You can create your poll from here</title>
    <link rel="shortcut icon" href="./images/fav.png" type="image/png" />
    <!-- Tailwind CSS Connection Library -->
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-blue-100 py-10 md:py-20">
    <div class="flex items-center main">
      <div class="container mx-auto px-2 md:py-0">
        <div
          class="
            form-container
            py-10
            px-2
            md:py-12 md:px-20
            bordered
            shadow-lg
            rounded-3xl
            ring-1 ring-gray-300
            bg-white
          "
        >
          <h1
            class="
              text-center text-3xl
              md:text-6xl
              font-bold
              uppercase
              pb-2
              md:pb-4
            "
          >
            Create Your <span class="text-blue-500">Poll</span>
          </h1>

          <div class="form p-4">
            <form action="/create" method="POST">
              <input
                type="text"
                id="title"
                name="title"
                placeholder="Enter your title"
                class="
                  w-full
                  shadow
                  p-3
                  md:p-5
                  rounded-md
                  ring-1 ring-gray-200
                  focus:border-blue-500
                  focus:outline-none
                  focus:ring-2
                  focus:ring-blue-300
                  text-md
                  md:text-xl
                  my-2
                  md:my-4
                "
              />

              <textarea
                name="description"
                id="description"
                class="
                  w-full
                  shadow
                  p-3
                  md:p-5
                  rounded-md
                  ring-1 ring-gray-200
                  focus:border-blue-500
                  focus:outline-none
                  focus:ring-2
                  focus:ring-blue-300
                  text-md
                  md:text-xl
                  my-2
                  md:my-4
                "
                placeholder="Enter your description"
              ></textarea>

              <div id="options" class="my-2 md:my-4">
                <p class="text-xl capitalize text-gray-500 mb-2">
                  Choose Your Options
                </p>
                <input
                  type="text"
                  name="options"
                  class="
                    w-full
                    shadow
                    p-3
                    md:p-5
                    rounded-md
                    ring-1 ring-gray-200
                    focus:border-blue-500
                    focus:outline-none
                    focus:ring-2
                    focus:ring-blue-300
                    text-md
                    md:text-xl
                    my-2
                    md:my-4
                  "
                  placeholder="Option 1"
                />
                <input
                  type="text"
                  name="options"
                  class="
                    w-full
                    shadow
                    p-3
                    md:p-5
                    rounded-md
                    ring-1 ring-gray-200
                    focus:border-blue-500
                    focus:outline-none
                    focus:ring-2
                    focus:ring-blue-300
                    text-md
                    md:text-xl
                    my-2
                    md:my-4
                  "
                  placeholder="Option 2"
                />
              </div>
              <button
                class="
                  py-3
                  px-5
                  md:py-5 md:px-8
                  bg-blue-600
                  rounded-2xl
                  text-white
                  uppercase
                  w-full
                  md:w-1/4
                  block
                  shadow
                  hover:bg-blue-800
                "
                id="addOption"
              >
                Add Option
              </button>

              <input
                type="submit"
                value="Create Poll"
                class="
                  mx-auto
                  my-2
                  md:my-5
                  w-full
                  py-5
                  px-8
                  bg-blue-600
                  rounded-2xl
                  text-white
                  uppercase
                  shadow
                  hover:bg-blue-800
                  cursor-pointer
                "
              />
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      const options = document.getElementById("options");
      const addOption = document.getElementById("addOption");
      let optionNumber = 3;

      addOption.addEventListener("click", (e) => {
        e.preventDefault();
        let newOption = optionCreate();

        options.appendChild(newOption);
      });

      function optionCreate() {
        const input = document.createElement("input");
        input.type = "text";
        input.name = "options";
        const classArray = [
          "w-full",
          "shadow",
          "p-3",
          "md:p-5",
          "rounded-md",
          "ring-1",
          "ring-gray-200",
          "focus:border-blue-500",
          "focus:outline-none",
          "focus:ring-2",
          "focus:ring-blue-300",
          "text-md",
          "md:text-xl",
          "my-2",
          "md:my-4",
        ];
        input.classList.add(...classArray);

        input.placeholder = "Option " + optionNumber++;

        return input;
      }
    </script>
  </body>
</html>
